<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.francho.apps.unutopia_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:excludeFromRecents="false"
            android:label="@string/title_activity_splash"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleListActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="unutopia.intent.category.LIST_ARTICLES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Dialog" >
            <intent-filter>
                <action android:name="unutopia.intent.category.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>